html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    list-style-type: none;
}

.task {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    margin-right: 25px;
}

.icon {
    cursor: pointer;
}

.doneTask {
    background-color: greenyellow;
    color: white
}